/* Estilos para el contenedor principal */
.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d3d3;
}

/* Estilos para el formulario */
.registro-form {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.registro-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Estilos para los inputs */
.registro-form input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Estilo del botón */
.registro-form button {
  width: 100%;
  padding: 10px;
  background-color: #00cccc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.registro-form button:hover {
  background-color: #00a3a3;
}

/* Estilos para el mensaje de error */
.registro-form p {
  color: red;
  font-size: 14px;
  text-align: center;
}
